body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    background: #000000;
    color: #ffffff;
}
.logo{
    width: 3vw;
    height: 5vh;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 2%;
    margin-top: 1%;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin-left: 5%;
}
.search-input{
    background: none;
    border: 1px solid #eff0f3;
    border-radius: 5px;
    width: 15vw;
    margin-left: 5%;
    margin-top: 8%;
    height: 3vh;
}
hr{
    border: 1px solid #eff0f3;
}
.top-section{
    margin-left: 25%;
}
.main{
    margin-left: 30%;
    margin-top: -8%;
}
.repo-search{
    background: none;
    border: 1px solid #eff0f3;
    border-radius: 5px;
    width: 65vw;
    height: 4vh;
}
input::placeholder{
    padding: 1em;
}
.info{
    display: flex;
}
.info p{
    margin-left: 1%;
}
.title{
    color: #2468cf;
}